/* Global */
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: .75em;
    background: #303748;
}
.page {
    position: relative;
    z-index: 10;
    width: 60%;
    max-width: 1200px;
    margin: 50px auto;
}
body:after {
    content: "";
    position: fixed;
    bottom: -33%;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 66%;
    background: #ff5a60;
    transform: skew(0, -8deg);
}
.clear {
    clear: both;
}
#jslitmus {
    position: relative;
    z-index: 10;
}

/* Titres */
h1 {
    margin: 2em 0;
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}
h2 {
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
}

/* Items */
.demo-item form {
    clear: both;
    padding: 42px 55px;
    background: #fff;
    border-radius: 10px;
}
.demo-item + .demo-item {
    margin-top: 50px;
}
.form-col {
    float: left;
    width: 48%;
}
.form-col + .form-col {
    margin-left: 4%;
}

/* Forms */
label {
    color: #444;
    font-size: 1.5em;
    cursor: pointer;
}
.form-item {
    margin-bottom: 15px;
}
.form-item + .form-item {
    margin-top: 15px;
}
.form-actions {
    clear: both;
    padding-top: 25px;
}
.form-submit {
    float: right;
    margin: 0;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    background: #303748;
    border: 0;
    cursor: pointer;
    transition: .3s;
}
.form-submit + .form-submit {
    margin-right: 20px;
}
.form-submit:hover {
    background-color: #2c3e50;
}
.form-text,
.form-textarea {
    width: 100%;
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    outline: 0;
}