@import "variables";

/* ==========================================================================
   CustomForm Label
   ========================================================================== */
.customform--label {
    position: relative;

    label {
        position: absolute;
        z-index: 5;
        top: $input--padding-vertical + $input--border-width;
        left: 0;
        transform: translateY(0);
        margin: 0;
        padding: 0 $input--padding-horizontal;
        font-size: $input--fontsize;
        cursor: text;
        transition: .3s;
    }

    &.is-filled {
        label {
            top: -10px;
            transform: translateY(-100%);
            padding-left: 0;
        }
    }
    &.is-filled,
    &.is-focused {
        label {
            font-size: 1em;
            cursor: default;
        }
    }
}